*{
    margin: 0px;
    padding: 0px;
}

ul{ 
    list-style-type: none;
    display: flex;
    background-color: gray;
    padding: 10px;
    justify-content: flex-end;
    li{
        a{
            text-decoration: none;
            padding: 40px;
            &:hover{
                color: red;
            }
        }
    }
}